body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(242, 248, 233);
}

h1{
text-align: center;
color: mediumseagreen;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}

p {
  text-align: justify;
  font-size: large;
  font-weight: 600;
}